<nb-card>
  <div class="list-item-content">
    <img src="/assets/placeholder-300x200.png">
    <div class="list-item-content-container">
      <h1>{{ item.name }}</h1>
      <p>{{ item.description }}</p>
    </div>
    <div class="list-item-actions-container">
      <h2>{{ item.price }} Ft</h2>
      <div class="list-item-actions">
        <a nbButton status="primary" hero [routerLink]="[item.id]">Részletek</a>
        <button *ngIf="isLoggedIn" nbButton status="success" (click)="cartButtonClicked.emit()" hero>Kosárba</button>
      </div>
    </div>
  </div>
</nb-card>