<nb-card>
  <nb-card-header>
    <h4>Elérhetőségek</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="contacts-container">
      <div class="mapouter">
        <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
            src="https://maps.google.com/maps?q=Budapest%2C%20M%C5%B1egyetem%20rakpart&t=&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
            href="https://www.embedgooglemap.net/1/"></a></div>
      </div>
      <div class="contact-info">
        <h6>Elhelyezkedés</h6>
        <p>
          1111 Budapest, Műegyetem rakpart 3.
        </p>

        <h6>Nyitvatartás</h6>
        <p>
          <strong>Hétfő:</strong> 9:00-18:00<br>
          <strong>Kedd:</strong> 9:00-18:00<br>
          <strong>Szerda:</strong> 9:00-18:00<br>
          <strong>Csütörtök:</strong> 9:00-18:00<br>
          <strong>Péntek:</strong> 9:00-16:00<br>
          <strong>Szombat:</strong> Zárva<br>
          <strong>Vasárnap:</strong> Zárva<br>
        </p>

        <h6>Kapcsolat</h6>
        <p>
          <strong>E-mail cím:</strong> info@awesomecomputershop.hu<br>
          <strong>Telefonszám:</strong> +36201234567<br>
          <strong>Levelezési cím:</strong> 1111 Budapest, Műegyetem rakpart 3.
        </p>
      </div>
    </div>
  </nb-card-body>
</nb-card>