<div class="header">
  <h1>
    Awesome Computer Shop
  </h1>
  <nb-actions size="medium">
    <nb-action>
      <nb-icon class="small mr" icon="sun-outline"></nb-icon>
      <nb-toggle [(checked)]="isDarkTheme" (checkedChange)="onThemeSwitch()"></nb-toggle>
      <nb-icon class="small ml" icon="moon-outline"></nb-icon>
    </nb-action>
    <nb-action *ngIf="isLoggedIn" link="/basket" nbTooltip="Kosár" nbTooltipPlacement="bottom" icon="shopping-cart-outline"></nb-action>
    <nb-action *ngIf="isLoggedIn" link="/orders" nbTooltip="Rendeléseim" nbTooltipPlacement="bottom" icon="archive-outline"></nb-action>
    <nb-action *ngIf="!isLoggedIn" nbTooltip="Bejelentkezés" nbTooltipPlacement="bottom" icon="log-in-outline" (click)="onLogin()"></nb-action>
    <nb-action *ngIf="!isLoggedIn" nbTooltip="Regisztráció" nbTooltipPlacement="bottom" icon="edit-2-outline"></nb-action>
    <nb-action *ngIf="isLoggedIn" status="danger">
      <nb-user [name]="userName" [title]="email"></nb-user>
    </nb-action>
    <nb-action *ngIf="isLoggedIn" nbTooltip="Kijelentkezés" nbTooltipPlacement="bottom" icon="log-out-outline" (click)="onLogout()"></nb-action>
  </nb-actions>
</div>