<div class="header">
  <h1>Awesome Computer Shop</h1>
  <nb-actions size="medium">
    <nb-action>
      <nb-icon class="small mr" icon="sun-outline"></nb-icon>
      <nb-toggle [(checked)]="isDarkTheme" (checkedChange)="onThemeSwitch()"></nb-toggle>
      <nb-icon class="small ml" icon="moon-outline"></nb-icon>
    </nb-action>
    <nb-action icon="shopping-cart-outline"></nb-action>
    <nb-action>
      <a nbButton ghost status="primary">
        Bejelentkezés
      </a>
    </nb-action>
    <nb-action>
      <a nbButton ghost status="primary">
        Regisztráció
      </a>
    </nb-action>
  </nb-actions>
</div>