.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    div > * {
        margin-left: 20px;
    }
}




.list-item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    h6 {
        margin: 0;
    }

    .list-item-buttons-container {
        display: flex;
        justify-content: space-between;
        width: auto;
        
        button {
            margin-left: 10px;
        }
    }
}





.order-list-item {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    width: 100%;
  
    .item-id {
      grid-row: 1;
      grid-column: 1;
    }
  
    .item-userName {
      display: inline-block;
      width: 100%;
      text-align: center;
      grid-row: 1;
      grid-column: 2;
    }
  
    .item-state {
      display: inline-block;
      width: 100%;
      text-align: center;
      grid-row: 1;
      grid-column: 3;
    }
  
    .item-dateTimeOfOrder {
      display: inline-block;
      width: 100%;
      text-align: center;
      grid-row: 1;
      grid-column: 4;
    }

    .item-actions {
      display: inline-block;
      width: 100%;
      text-align: right;
      grid-row: 1;
      grid-column: 5;
    }

    .item-actions-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: auto;
    }
  }


.padding-fix {
    padding: 1rem;
}

  