.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nb-card-body {
    padding: 0px;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    h6 {
        margin: 0;
    }

    .list-item-buttons-container {
        display: flex;
        justify-content: space-between;
        width: auto;
        
        button {
            margin-left: 10px;
        }
    }
}