<div class="grid">
  <nb-card class="main-card">
    <nb-card-header>
      <div class="header-container">
        <h4>{{ (product$ | async)?.name }}</h4>
        <div class="actions">
          <button nbButton hero status="danger" (click)="navigateBack()">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            Vissza
          </button>
          <div [nbTooltip]="tooltip">
            <button nbButton hero status="success" (click)="addToCart()" [disabled]="!(product$ | async)?.quantity">
              <nb-icon icon="shopping-bag-outline"></nb-icon>
              Kosárba
            </button>
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="body">
      <img src="/assets/placeholder-800x600.png">
      <p>{{ (product$ | async)?.description }}</p>
    </nb-card-body>
  </nb-card>
  <nb-card class="comments-card">
    <nb-card-header>
      <h5>Megjegyzések</h5>
    </nb-card-header>
    <nb-card-body>
      <textarea [(ngModel)]="commentText" nbInput fullWidth placeholder="Megjegyzés írása..."></textarea>
      <div class="send-container">
        <button nbButton status="primary" hero (click)="sendComment()">
          <nb-icon icon="paper-plane-outline"></nb-icon>
          Küldés
        </button>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div *ngIf="!(product$ | async)?.comments" class="empty-list-container">
        <h6>Még nem érkezett megjegyzés a termékhez.</h6>
      </div>
      <nb-list>
        <nb-list-item *ngFor="let comment of (product$ | async)?.comments">
          <div>
            <nb-user [name]="comment.userName"></nb-user>
            <p>{{ comment.text }}</p>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-footer>
  </nb-card>
  <nb-card class="properties-card">
    <nb-card-header>
      <h5>Tulajdonságok</h5>
    </nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let property of (product$ | async)?.propertyValues">
          <div class="property-container">
            <strong>{{ property.name }}</strong>
            <span>{{ property.value }}</span>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
  <nb-card class="sockets-card">
    <nb-card-header>
      <h5>Csatlakozótípusok</h5>
    </nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let socket of (product$ | async)?.productSockets">
          <div class="socket-list-item">
            <strong class="socket-name">{{ socket.name }}</strong>
            <span class="provides-uses">{{ socket.providesUses | providesUses }}</span>
            <span class="socket-count">{{ socket.numberOfSocket }}</span>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>