.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.body-container {
    margin: auto;
    width: 50%;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}