h6 {
  margin-bottom: 0;
}

nb-card-footer {
  h6 {
    margin-top: 0;
  }
}

.add-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.available-socket-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}