<nb-card accent="primary">
  <nb-card-header>
    Awesome Computer Shop

    <button nbButton hero status="primary" (click)="openDialog()">Dialógus megnyitása</button>
  </nb-card-header>
  <nb-card-body>
    <p>
      Üdvözlünk az Awesome Computer Shop oldalán. Ez egy egyszerű számítógép alkatrészeket áruló webshop,
      számítógép összerakó funkcióval. A számítógép összerakóban összeállított konfigurációk egyes elemei
      garantáltan kompatibiliesek egymással.
    </p>
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>
    <nb-icon icon="shopping-cart-outline"></nb-icon> <span>Kosár</span>
  </nb-card-header>
  <nb-card-body>
    A rendes webshopokhoz hasonlóan itt is egy kosárba helyezhetjük el az egyszerre megrendelni kívánt termékeket.
    Termékeket lehetséges eltávolítani a kosárból, illetve a megrendelési mennyiségüket állítani. A kosár minden
    felhasználó számára egyedi, mindenki csak a saját kosárjának tartalmát látja és tudja menedzselni. A kosár funkció
    csak bejelentkezett felhasználók számára elérhető. A kosár tartalmát megrendelhetjük. Ekkor szállítási és
    számlázási
    adatokat kell megadnunk. Jelenleg csak az utánvétes fizetési lehetőség támogatott.
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>
    <nb-icon icon="list-outline"></nb-icon> <span>Termék böngésző</span>
  </nb-card-header>
  <nb-card-body>
    A webshopban lévő termékek termék kategóriákba vannak sorolva. Lehetséges ezeket a termékeket böngészni akár
    bejelentkezés
    nélkül is. Megtekinthetők listanézetben, valamint az egyes termékek részletes adatai is. A termékek alá
    megjegyzéseket
    lehet
    írni, illetve értékelhető a termék egy 1-5-ig terjedő.
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>
    <nb-icon icon="settings-2-outline"></nb-icon> <span>Számítógép összerakó</span>
  </nb-card-header>
  <nb-card-body>
    A számítógép összerakóban a felhasználók összeállíthatnak egy egyedi számítógép alkatrészekből álló konfigurációt.
    A számítógép összerakóban csak egymással kompatibilis komponensek választhatók ki. A komponensek kompatibilitását
    azok csatolófelületei határozzák meg. Az alkatrészek a kompatibilitási adatokkal együtt a rendszer
    adminisztrátorai
    által kerülnek rögzítésre. A számítógép összerakóban összeállított konfigurációk nem kerülnek elmentésre, az oldal
    elhagyásakor törlődnek. Viszont lehetőség van azonban a kiválasztott alkatrészek együttes kosárba helyezésére,
    a kosár tartalma pedig mentésre kerül.
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>
    <nb-icon icon="clock-outline"></nb-icon> <span>Megrendelés történet</span>
  </nb-card-header>
  <nb-card-body>
    Megtekinthetjük leadott rendeléseinket, azok állapotait, tartalmát, illetve az egyes alkatrészek megrendeléskori
    árait.
    A megrendelés történet csak bejelentkezett felhasználók számára érhető el.
  </nb-card-body>
</nb-card>