<nb-card>
  <nb-card-header>
    <h4>Garanciális feltételek</h4>
  </nb-card-header>
  <nb-card-body>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius nibh in lacus tempus, suscipit bibendum odio
      fermentum. Vivamus sit amet lectus in ligula pellentesque sollicitudin. Fusce porttitor pharetra nisi, nec
      consequat leo
      tincidunt in. Aenean sed ipsum id massa suscipit malesuada eget a nunc. Sed scelerisque in elit vitae finibus.
      Donec
      iaculis accumsan vestibulum. Proin eget lacus turpis. Sed facilisis consectetur mi, eu congue sapien facilisis
      sollicitudin. Aenean at velit lacinia, auctor velit eget, lacinia augue. Sed vulputate lectus enim, et imperdiet
      felis
      fringilla in. Aliquam nec pellentesque elit. Nunc et eros at mi lobortis tincidunt et vitae orci. Sed sagittis,
      est
      vitae rutrum malesuada, felis nisi malesuada risus, nec accumsan est erat quis massa.
    </p>
    <p>
      Duis in fermentum tortor. Proin magna augue, elementum et laoreet eget, tempor nec elit. Vestibulum molestie
      tempus
      felis ut facilisis. Pellentesque sem nibh, mollis ut arcu ut, euismod pharetra metus. Mauris id justo maximus ante
      fringilla congue ac eget tortor. Sed sem nunc, accumsan eu quam sit amet, ultrices tempor lacus. Nullam
      ullamcorper eros
      augue, sed rhoncus orci euismod sed. Donec cursus tincidunt semper. Pellentesque vel lacinia dolor, vitae iaculis
      nulla.
      Aliquam ac orci ac erat mattis dapibus. Donec vitae maximus tellus. Integer sed sodales ex. Sed nec enim ac ante
      efficitur gravida. Suspendisse eget ex est. Quisque finibus gravida lacinia.
    </p>
    <p>
      Vestibulum interdum aliquam diam. Sed at justo viverra, molestie massa a, volutpat eros. Donec sed tristique
      felis.
      Suspendisse tempus nisl placerat, mollis metus eu, iaculis urna. Pellentesque elementum ante tortor, vel commodo
      ipsum
      ultrices vel. Praesent porttitor velit pharetra lorem ultrices congue. Donec cursus odio ac lorem auctor, id
      semper elit
      lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus
      posuere
      felis eu lacus tempus, sed hendrerit tellus fermentum. Vestibulum quam nunc, laoreet elementum lobortis ac,
      tristique
      vitae sem.
    </p>
    <p>
      Quisque eu ex sed odio laoreet maximus. Sed aliquam lacus vitae lectus ullamcorper ornare. Donec sit amet ligula
      interdum eros tempor dictum. Mauris enim purus, luctus id elit sit amet, vestibulum commodo odio. Mauris a quam
      metus.
      Fusce tempus a nibh nec varius. Sed eleifend cursus neque, a interdum lectus aliquam laoreet. Ut vitae lacus et
      libero
      tristique accumsan eget in velit. Nullam felis lacus, tincidunt in nisl ac, efficitur rhoncus diam. Proin sit amet
      molestie dolor. In commodo sem ante, non ullamcorper magna elementum id. Ut quis pretium eros, id rutrum ante.
      Aliquam
      maximus lorem augue, et pharetra erat accumsan id. Maecenas pretium felis orci, id consequat ligula egestas a.
    </p>
    <p>
      Phasellus congue, justo eu sollicitudin accumsan, orci nunc porta dolor, ut bibendum tellus nibh quis nulla.
      Nullam
      pulvinar fermentum molestie. Nunc neque metus, laoreet in tortor eu, consequat maximus quam. Duis rutrum dignissim
      elit,
      vitae condimentum metus blandit sit amet. Sed ultrices ligula sed massa imperdiet mattis. Sed ut dolor vel elit
      dapibus
      aliquam. Cras convallis urna ut rhoncus blandit. Aliquam sem ligula, tempus quis urna sed, bibendum mollis ante.
      Nunc
      mauris nisi, feugiat a sem blandit, bibendum pellentesque dui. Pellentesque ut nibh condimentum, consequat leo at,
      tristique erat. Suspendisse mattis cursus malesuada. Aliquam a bibendum est. Integer pharetra pharetra volutpat.
      Maecenas vulputate ullamcorper lorem, non imperdiet eros elementum eget. Sed vulputate lacus nulla, quis lobortis
      elit
      porta ut. Sed eu diam quis dolor viverra aliquam ac sed ligula.
    </p>
    <p>
      Pellentesque vestibulum ligula orci, eu auctor nunc ullamcorper quis. Integer at dolor id nibh sodales faucibus.
      Nullam
      eget mi condimentum, egestas arcu eget, imperdiet nisi. Praesent in massa erat. Maecenas suscipit libero efficitur
      lorem
      dapibus maximus. Nam sed dui et nibh tempus porttitor sed vitae nibh. Nam porta, nunc nec facilisis pulvinar, elit
      ex
      ultricies nibh, id feugiat odio nunc vitae erat. Phasellus dapibus at quam id mattis. Orci varius natoque
      penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
      Aliquam erat volutpat. Nullam hendrerit lacinia ex, id dapibus arcu facilisis et. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Donec vestibulum ullamcorper diam in porttitor. Aliquam rutrum, ligula vulputate
      vehicula
      ultricies, nisl dui ornare tortor, sit amet vestibulum odio orci ut nibh. Vivamus in odio quis elit vehicula
      mollis
      vitae sed lorem. Aenean tempus vehicula arcu hendrerit fermentum. Pellentesque odio tortor, lobortis sed ex ac,
      consectetur tristique risus.
    </p>
    <p>
      Vivamus ullamcorper dui turpis, eget malesuada mi vehicula ut. Nam a orci diam. Suspendisse consequat in nunc in
      feugiat. Duis in ornare massa. Sed tempus tristique tincidunt. Nam ultricies nulla sed gravida pellentesque.
      Nullam nisl
      erat, sagittis vitae justo at, ullamcorper vehicula tellus. Morbi bibendum fermentum ipsum laoreet iaculis. Morbi
      sodales pharetra finibus. Integer dignissim odio ac maximus tincidunt. Praesent faucibus gravida odio eu lacinia.
      Vivamus dapibus dictum ligula at convallis. Suspendisse nec nibh diam.
    </p>
    <p>
      Mauris vehicula diam et arcu tempor efficitur. Suspendisse condimentum, ante a egestas malesuada, libero risus
      congue
      erat, vitae semper velit mi eget turpis. Nunc fringilla, neque eget blandit pretium, tellus dui bibendum sapien, a
      viverra mi nisl at enim. Etiam tincidunt euismod nunc consequat hendrerit. Cras consequat ligula id odio euismod,
      sit
      amet semper dolor cursus. Phasellus condimentum finibus molestie. Phasellus ac dictum justo, a pharetra diam.
      Nulla
      luctus dignissim felis id elementum. Fusce ornare diam vitae interdum egestas. Quisque sit amet sapien vitae nulla
      euismod rutrum. Nam dignissim ipsum et neque mattis fringilla.
    </p>
    <p>
      Pellentesque pretium arcu vel malesuada euismod. Etiam rutrum placerat sagittis. Vestibulum sed tortor et diam
      ultrices
      tempus ut id justo. Ut sit amet euismod arcu. Suspendisse nec ante fringilla, varius velit sit amet, laoreet elit.
      Donec
      volutpat magna purus. Etiam ullamcorper, ipsum vel pulvinar commodo, dui tortor commodo tortor, nec condimentum ex
      justo
      at dolor. Mauris rhoncus sapien nec quam porttitor mollis. Nam nunc est, laoreet sit amet eros eget, aliquet
      tincidunt
      augue. Nam quis malesuada felis. Pellentesque a elit tempus, convallis est gravida, vulputate tortor. Proin arcu
      magna,
      maximus et dolor elementum, varius sagittis justo. Pellentesque pretium leo fringilla, faucibus nulla condimentum,
      dignissim nisi. Duis consectetur justo et neque elementum facilisis. Praesent hendrerit libero fermentum, luctus
      dui
      sed, blandit lorem. Proin auctor mauris eu scelerisque ultricies.
    </p>
  </nb-card-body>
</nb-card>